*{
    margin:0%;
    padding: 0px;
}
.con{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 100px auto;
    /* width: 90%; */
    padding: 20px;
    margin-top:0rem;
    gap: 15px;
}
.box{
   width: 250px;
   margin: 10px;
   box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
   transition: 1s;
   border-radius: 5px;
}
.box img{
    display: block;
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
}
.box:hover{
    transform: scale(1.2);
    z-index:0;
}
#b{
    font-style:oblique;
    font-size: 200%;
    font-weight: 800;
    background:linear-gradient(to right,rgb(255, 4, 4),orange,rgb(255, 3, 255),rgb(255, 0, 221),blue,yellow,red,orange);
    background-clip: text;
    color:transparent;
    margin-top: 2px;

}
.p1{
    font-style:oblique;
    font-size: 300%;
    font-weight: 700;
    margin-top: 3.5px;
    /* background:linear-gradient(to right,rgb(255, 4, 4),orange,rgb(255, 3, 255),rgb(255, 0, 221),blue,yellow,red,orange); */
    color: aqua;
    /* background-clip: text;
    color:transparent; */
}
#hi{
    margin-top:-6rem;
}
#oh{
    height:fit-content;
    width: fit-content;
    background-color: rgb(35, 40, 41);
    text-align: center;
    border-radius: 7px;  
    margin-top:-2px;
}
.h{
    height: fit-content;
    width:15rem;
    background-color: rgb(35, 40, 41);
    text-align: center;
    border-radius: 4rem;  
}
marquee{
    width: 40rem;
    border-radius: 4rem;
}
#c{
    background-color:rgb(13, 192, 177) ;
    height: 2rem;
    display: flex;
    flex-direction:row;
    font-size:10px;
   align-items: end;
   position: sticky;
   top: 0%;
   z-index:9999; 
}
#logo{
    margin-bottom:-1rem;
    height: 3rem;
    width: 3rem;
}
#logo1{
    margin: 6px;
    height: 1rem;
    width: 1rem;
}
.he{
    font-size: 1rem;
    color: black;
    margin: 3px;
}
.hee{
    font-size: 20px;
    color: black;
    margin: 6px;

}
#logo2{
    
    margin-bottom: -6px;
    height: 1.5rem;
    width: 1.5rem;
}

.contact{
    width:61vw;
    display:flex;
    justify-content:flex-end;
    cursor:pointer;
}
a{
    text-decoration: none;
    color: black;
}
.see {
    font-size:4rem;
    margin-top: 10px;
    text-shadow: 10px 5px 10px rgb(154, 163, 75);
    color:black;
}  
/* .flip see{
    animation-name: flip;
}   */
.pr{
    border-radius: 20px;
    /* display: block; */
    /* transition: 1s; */
}
.sea{
    height:fit-content;
    width: fit-content;
    padding: 15px;
   
    border-radius: 9px;
    margin: 1rem;
    /* cursor: pointer; */     
    transition: 1s;
}
.mu{
    font-size: 1.5rem;
    color: black;
    text-align: center;
    margin-top: 6px;
}
.div{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;     
    padding: 3.5px;                             
}
#log{
    margin-bottom: -10px;
    height: 4rem;
    width: 5rem;
    box-shadow: 5px 5px 10px  orange;
    border-radius: 50%;
}
.v{
    height:11.5rem;
    width: 100%;
    
    /* border-radius: 20px; */
    display: block;
    margin-left: 5px;
}
.w{
    margin-top: 10px;
    font-size: 2rem;
   margin-left: 4rem;
}
.e{
    margin-top: 2px;
    font-size: 2rem;
    margin-left:2rem;   
}
li{
    margin-top: 6px;
    font-size: 1rem;
    margin-left: 3rem;  
}
.r{
display: flex;
flex-direction: row;
justify-content: center;
margin-top: -20px;
}
.t{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -2.5rem;
    width: 94%;
}
.y{
    padding: 2rem;
}
.u{
    padding: 1rem;
}

.o{
    margin-top: -30px;
}

.input{
    /* width:15rem;
    padding-left:10px;
    height:20px;
    border-radius:20px;
    background-image: url('logos/search.png'); */
    width: 100%;
  box-sizing: border-box;
  /* border: 2px solid #e01f1f;  */
  border-radius: 4px;
  font-size: 16px;
  /* background-color: white; */
  padding: 12px 20px 12px 40px; 
  width:15rem;
  height:20px;
  
}

.data1{
    width:800px;
}

.inputs{
    height:30px;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    position:relative;
}

.search-icon{
    height:20px;
    position:absolute;
    margin-left:5px;
}
.sea:hover{
    transform: scale(1.1);
    z-index:3;
    box-shadow:0 0 20px 2px rgba(0, 0, 0, 0.329); 
}
.a{
    font-size: large;
    padding: 4rem;
    margin-top: -3rem;
}
.s{   
    margin-top:-2.5rem;
}
.p{
    background-color:rgb(23, 400, 350) ;
    height: 2rem;
}
.f{
    margin-top:-2rem;
   
    /* width: 23vw; */
    width: 90px;
    /* margin-left: 14px; */
}
.mur{
    font-size: 1.5rem;
    color: black;
    text-align: center;
    margin-top: 2rem;
}
.l{
    margin-left:550px;
    display:flex;
    flex-direction: column;
    /* justify-content:flex-end; */
    align-items:center;
}
.d{
height: 8rem;
padding: 1rem;
margin-top: 25px;
display: block;
transition: 1s;
border-radius: 2rem;
}
.d:hover{
    transform: scale(2.1);
    z-index:0;
}
#siva{
    background-color:rgb(13, 192, 177) ;
    margin-top: -30px;
    display: flex;
    flex-direction: row;
    border-radius: 1rem;
    /* height: 15rem; */
}
.p{
    text-align: center;
    padding: 5px;
}
del{
    color: red;
}
.sakthi{
    padding: 20px;
    margin-top: 2rem;
    column-gap: 10rem;
}
.mahee{
    margin-left: 30px;
}
.suresh{
    font-size: 2rem;
}
.n{
    margin-top: 50px;
}
.m{
    margin-top: 20px;
}
.g{
    height:15rem;
    width: 100%;
    
    /* border-radius: 20px; */
    display: block;
    transition: 1s; 
    margin-top:-60px;
}
.b{
    color:rgb(0, 252, 0);
}
.z{
    height:4rem;
    width: 7rem;
}
.cart{
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
.lo{
    display: flex;
    justify-content: end;
    position:absolute;
    z-index: 2;
    right: 0;
}
.zx{
    border-radius: 5px;
    display: flex;
    margin-left: 13.4rem;
    margin-top: -1.2rem;
    width: 3.7rem;
    padding: 1px; 
    text-align: center;
    cursor: pointer;
    background-color:rgb(0, 255, 234);
}
.zx:hover{
    background-color:lawngreen;
}
.qw{
    font-size: 1.5rem;
    margin-left: 2.5rem;
}
.qe{
    font-size: 1.5rem;
    margin-left: 5rem;
}
.fd{
    margin-top: -15px;
    width: 17rem;
}
#logo2{
    margin-top: 5px;
}
.es{
    margin-top: 2px;
    font-size: 2rem;
    margin-left:1.5rem;   
}
.is{
    padding: 4rem;
    margin-top: -50px;
    margin-right: 7rem;
}
.i{
    padding: 4rem;
    margin-top: -50px;
    margin-left: -7rem;
}
