*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding-top: 35px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 3rem;
    background-color: rgb(22, 216, 216);
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

#logo{
    position: absolute;
    height: 3.3rem;
    top: 0;
    z-index: 3;
    position: fixed;
    cursor: pointer;  
}

#logo:hover{
    animation: rotate 5s linear infinite;
}

header div{
    display: flex;
    justify-content: space-between;
    align-items:center;
    width : fit-content;
}

header a{
    text-decoration: none;
    color: black;
}


header img{
    height: 1.6rem;
}

.location, .mail{
    padding: 0.4rem 0 0 1rem;
}

.location img{
    height: 1.5rem;
    padding: 0.4rem 0 0.1rem 0.5rem;
}

.mail a{
    padding: 0.2rem 0 0 0.4rem;
  
}
.location h4{
    padding: 0.4rem 0 0 0.4rem;
}

header .input-div{
    background-color: white;
    border-radius: 0.1rem;
    border: 2px solid black;
    width: 13rem;
    justify-content: flex-start;
}

header input{
    border: none;
    height: 100%;
    width: 100%;
    padding: 0 10px;
}

input:focus{
    outline: none;
}


.menu{
    width: 25%;
    font-size: larger;
    font-weight: 400;
}

.menu div{
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.menu img{
    height: 1.2rem;
    margin: 0.5rem;
}


.ani{
    width: 100%;
    position: absolute;
    display: flex;
    padding:  10px 3rem; 
    gap: 16px;
}

.mssg{
    font-family: fantasy;
    font-size: larger;
    margin-top: 4rem;
    width: 10%;
    color: black;
    
}
   
.monkey{
    height:8rem;
    width: 100%;
    cursor: pointer;
}

.cart{
    position: absolute;
    height:4rem;
    width: 7rem;
    right: 0%;
    margin-top: 1rem;
    cursor: pointer;
}

.moving-text{
    font-style:oblique;
    font-size: 200%;
    font-weight: 800;
    background:linear-gradient(to right,rgb(255, 4, 4),orange,rgb(255, 3, 255),rgb(255, 0, 221),blue,yellow,red,orange);
    background-clip: text;
    color:transparent;
}

marquee{
    width: 40rem;
    border-radius: 4rem;
    height: fit-content;
    margin-top: 2px ;
}

marquee div{
    background-color: black;
    padding: 0 15px;
    border-radius: 4rem;
    width: fit-content;
}

.welcome-text .text{
    font-style:oblique;
    font-size: 300%;
    font-weight: 700;
    color: aqua;
    background-color: black;
    width: fit-content;
    border-radius: 20px;
    padding:0 0.5rem;
    margin-top: -2px;
}

hr{
    margin: auto;
    margin-top: 2rem;
}
#hr-bottom{
    margin: auto;
}


.static-images{
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    gap: 15px;
    width: 100%;
}

.static-image{
    width: 250px;
    margin: 10px;
    box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
    transition: 1s;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .static-image1{
    width: 250px;
    margin: 10px;
    box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
    transition: 1s;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .static-image img{
    width: 100%;
 }

.sea-items-text{
    font-size:4rem;
    text-shadow: 10px 5px 10px rgb(154, 163, 75);
    color:black;
}

.sea-logo{
    height: 4rem;
    width: 5rem;
    box-shadow: 5px 5px 10px  orange;
    border-radius: 50%;
    margin: 0.6rem 0 0 1rem;
    animation: rotate3d 5s linear infinite;
    transform-origin: center;
}


.sea-item{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  perspective: 1000px;
}

#result,#River-items{
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#River-items img{
    max-width:18rem;
}


.item{
    height: 20rem;
    width: 22%;
    margin: 6px;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
   overflow: hidden;
   border-radius: 0.6rem;
    cursor: pointer;
}

.item img{
    height:50%;
}


.item .cost-div{
    display: flex;
    justify-content:space-evenly;
    width: 70%;
    font-weight: bolder;
}


.item button{
    background: #ffc401; 
    color: white;
    border: 2px solid #d4af37;
    border-radius: 4px;
    padding: 2px 4px;
    cursor: pointer;
    position: relative;
  overflow: hidden;
  outline: none;
}


.item button::before {
    content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: radial-gradient(circle, hwb(180 97% 2% / 0.753) 5%, transparent 50%);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: waveEffect 2s infinite; 
  opacity: 0.6;
  }


#cartItems * {
    max-width: 100%; 
    box-sizing: border-box; 
    word-wrap: break-word;
}

.NutritionHeading{
    margin-top: 10px;
    font-size: 2rem;
    font-weight: 400;
    margin-left: 1rem;
}

.NutritionFacts {
    width: 100%;
    display: flex;
    justify-content: space-evenly !important;
    align-items: center;
    flex-wrap: wrap;

}

.cont {
    width: 23%;
    display:flex;
    flex-wrap: wrap;
    justify-content:center !important ;
    margin-bottom:10px;
    padding-bottom: 10px;
    background-color: aqua;
    border-radius: 3px;
}

.cont p{
    width: 100%;
    text-align: center;
    background-color: blueviolet;
    margin-bottom: 10px;
    border-radius: 3px;
}


footer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: rgb(22, 216, 216);
    width: 100%;
}

footer #about,#contact{
    width: 50%;
   padding: 6px;
   overflow: auto;
}

address{
font-weight: 200;
}

#cartItems {
    position: fixed;
    width: 30vw;
    max-height: 100vh;
    height: fit-content;
    right: 0; 
    background-color:  rgb(22, 216, 216);
    z-index: 2;
    padding: 1rem;
    display: none;
    overflow-y: auto; 
    border-radius: 0 0 0 20px;
    border-top: 1px solid rgb(167, 211, 240);
    box-sizing: border-box;
}

#cartItems .close{
    position: absolute;
    right: 0.7rem;
    cursor: pointer;
}

#cartItems h1{
    margin-top: 0.6rem;
    display: flex;
    justify-content: center;
    font-size: 300;
    font-family:unset;
}

.total{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    bottom: 1rem;
    padding: 10px 0 20px 20px;
    row-gap: 10px;
}

.total input{
    width: 3rem;
    height: 1.3rem;
    background-color: white;
    text-align: center;
}

.total button{
    background-color:springgreen;
    padding: 1px;
    border-radius: 4px;
    cursor: pointer;
    height: 1.3rem;
}

.cartItemDiv{
    display: flex;
    flex-direction: row;
    
}

.cartItemDiv img{
    height:8rem;
    width: 8rem;
}

.insertcart{
display: flex;
margin: 1rem 1rem 1rem 0.6rem;
border-bottom: 1px solid rgba(0, 0, 0, 0.1);
padding-bottom: 1rem;
position: relative;
}

.addimg{    /*cart product imges*/
    height: 5rem;
    width: 6rem;
    border-radius: 10px;
}

.insertcart p{
    margin: auto;
}


.quandiv{
display: flex;
align-items: center;
gap: 20px;
bottom: 10px;
position: absolute;
left:7.5rem;
}

.quandiv input{
    width: 3rem;
    text-align: center;
}

.price{
    right: 3rem;
    position: absolute;
}

.name{
    position: absolute;
    left: 7.5rem;
}

.delLogo{
    height: 20px;
    width: 20px;
    right: 1rem;
    cursor: pointer;
    position: absolute;
}

#prebook{
    background-color: rgb(22, 216, 216);
    border-radius: 5px;
    margin: 0 1rem 0 1rem;
    padding: 10px;
}

.note{
    width: 90%;
    margin: auto;
    display: flex;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 1rem;
}
.note p{
    margin-left: 1rem;
}

.note h2{
    width:8rem;
}

form{
    display: flex;
    justify-content: space-evenly;
    padding: 0 1rem 0 1rem;
}

form button{
    background-color: springgreen;
    border-radius: 3px;
    padding: 1px;
    margin-left: 3px;
}
/*-------------------------------------------  Media query -----------------------------------------------*/

@media (max-width: 750px) {
    
    
    header{
        height: 3rem;
        max-width: 100%;
        display: flex;
        justify-content: space-between;

    }

    #logo{
        height:5rem;
    }

    .mail a,.location h4,.menu{
        display: none;
    }

    .mail img{
        margin: 0;
        padding-right: 20px;
    }
    .location img{
        margin: 0px 0px 0px 16px;
        padding: 0;
    }
    
    marquee{
        max-width: 52%;
        margin-top: 0.9rem;
    }

    .moving-text{
        font-size: 1.2rem;
    }

    .welcome-text .text{
        font-size:1.3rem;
        font-weight:150;
        border-radius: 0.5rem;
        background-color: rgb(245, 31, 102);
        margin-left: 10px;
    }
    .welcome-text{
        width: 100%;
    }

    .cart{
        right: -2;
        margin-top: 1.2rem;
        height: 3rem;
        width: 4.5rem;
    }

   hr{
    margin-top: 9.5rem;
   }

   .ani{
    margin-top: 4rem;
    width: 100%;
   }

    .mssg{
       width: 100%;
       text-align: center;
       text-align: end;
       margin-top: 3.5rem;
    }
       
    .monkey{
    width: 100%;
    
    }
    
    .static-images{
        padding: 0.5rem;
        gap: 4px;
        width: 100%;
    }
    
    .static-image{
        width: 250px;
        margin: 6px;
     }

     .static-image1{
        display: none;
    }

    .sea-items-text{
        font-size:1.5rem;
        text-shadow: 10px 5px 10px rgb(176, 179, 151);
        display: inline-block;
        width:36%;
        text-align: end;
    }
    
    .sea-logo{
        height: 1.4rem;
        width:7% ;
        margin-top: 0;
    }

     #result,#River-items{
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .item {
        width: 46%; 
        height: 15rem;
        box-shadow: 2px 2px 2px 2px rgb(49, 49, 49);
        border: 1px solid black;
    }

   
    .item img {
        max-height: 30%; 
    }
    
    .item .cost-div {
        width: 100%;
        font-size: 1rem;
    }
     
    .note p{
        font-size: 0.8rem;
    }

    .note{
        padding: 3px;
        }

    #prebook h1{
        font-size: 1rem;
        margin-bottom: 2px;
    }

    #prebook{
        padding: 4px;
    }

    .note h2{
        display: none;
    }

    form{
        display: flex;
        flex-direction: column;
        max-width: 100%;
        padding: 2px;
        row-gap: 10px;
    }
    
 
    form label{
    font-size: 1.2rem;
    width:40%;
    display: inline-block;
    }

    form input,form select{
    height: 1.5rem;
    border-radius: 8px;
    }

   form input{
    width:30%;
   }

  .otp{
    margin-left: 40%;
  }

  form button{
    margin-left: 5px;
    border-radius: 4px;
 }

 .NutritionHeading{
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: 100;
    margin: 2px 0 2px 0.3rem;
}

.cont {
    width: 48% !important; 
    margin-bottom: 1%; 
    font-size: 0.8rem;
}

.cont p{
font-size: 1rem;
padding: 1px 0 1px 0;
}

#cartItems{
    width: 80vw !important;
overflow-x: hidden;
margin-top: 0.750rem;
}


#cartItems .close{
    position: absolute;
    right: 0 !important;
    cursor: pointer;
    height: 2rem;
    margin-top: -1rem;
}

#cartItems h1{
    font-size: 1.7rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.total{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    bottom: 1rem;
    padding: 10px 0 20px 20px;
    row-gap: 10px;
}


.cartItemDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cartItemDiv img{
    height:8rem;
    width: 8rem;
}

.insertcart{
display: flex;
margin: 1rem 1rem 1rem 0.6rem;
border-bottom: 1px solid rgba(0, 0, 0, 0.1);
padding-bottom: 1rem;
position: relative;
}

.addimg{
    height: 5rem;
    width: 6rem;
    border-radius: 10px;
}

.insertcart p{
    margin: auto;
}


.quandiv{
display: flex;
align-items: center;
gap: 20px;
bottom: 10px;
position: absolute;
left:7.5rem;
}

.quandiv input{
    width: 3rem;
    text-align: center;
}

.price{
    right: 3rem;
    position: absolute;
}

.name{
    position: absolute;
    left: 7.5rem;
}

.delLogo{
    height: 20px;
    width: 20px;
    right: 1rem;
    cursor: pointer;
    position: absolute;
}

footer #about,#contact{
    width: 100%;
   padding: 6px;
   overflow: auto;
}

address{
font-weight: 200;
}

}

/*----------------------------------------------  Key frames ----------------------------------------------*/
@keyframes rotate3d{    /*sea-logo*/
    0%{
        transform: rotateX(0deg) rotateY(0deg);
    }
    50%{
        transform: rotateX(360deg) rotateY(180deg);
    }
    100%{
        transform: rotateX(360deg) rotateY(360deg);
    }
}

@keyframes rotate{    /*#logo*/
    from{
        transition: cubic-bezier(0.075, 0.82, 0.165, 1);
        transform: rotate(0deg);
    }
    to{
        transition:cubic-bezier(0.075, 0.82, 0.165, 1);
        transform: rotate(360deg);
    }
}

@keyframes waveEffect { /*  button */
    0% {
      width: 0;
      height: 0;
      opacity: 0.3;
    }
    50% {
      width: 300%;
      height: 300%;
      opacity: 0.9;
    }
    100% {
      width: 0;
      height: 0;
      opacity: 0;
    }
  }

